<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="tfs.url" value="https://url.to.tfs:8080/tfs"/>
  <add key="tfs.teamprojectname" value="MyTeamProject"/>
  <add key="tfs.username" value="myUserName"/>
  <add key="tfs.password" value="thePassword"/>
  <add key="slack.webhookurl" value="https://hooks.slack.com/services/and/stuff/like/that"/>
  <add key="pollintervallminutes" value="5"/>
</appSettings>
